[Desktop Entry]
Categories=;
Comment=Edit file in Vim
Exec=kitty -e vim
GenericName=Text Editor
Hidden=false
Icon=vim
Name=hyprvim
Terminal=false
Type=Application
Version=1.0
